{% extends "base.html" %}

{% block page_title %}Gallery List{% endblock %}


{% block content %}
<div class="row">
  <div class="col-12">
    <a href="{% url 'galleries:gallery-create' %}" class="btn btn-primary float-right"> <i class="fas fa-plus"></i>Add Gallery</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gallery</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td><a href="{% url 'galleries:gallery-detail' object.pk %}">{{object.name}}</a></td>
          <td>
            <a class="btn btn-warning" href="{% url 'galleries:gallery-update' object.pk %}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger" href="{% url 'galleries:gallery-delete' object.pk %}"><i class="fas fa-times"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>


{% endblock %}
